{
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "jsxSingleQuote": false,
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ],

  "plugins": [
    "prettier-plugin-sort-json",
    "prettier-plugin-astro",
    "prettier-plugin-packagejson",
    "prettier-plugin-css-order",
    "prettier-plugin-organize-imports",
    "prettier-plugin-tailwindcss"
  ],
  "printWidth": 140,
  "quoteProps": "as-needed",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false
}
